
@media screen and (max-width: 1920px){
    header {
        width: auto;
        height: 8rem;
        padding: 1rem 0rem ;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo_ozart{
        width: auto;
        height: 7rem;
        padding: 3rem;
    }
    .lupa{
        width: auto;
        height: 8rem;
        padding: 4rem;    
    }
    .menú{
        width: auto;
        height: 5rem;
        padding: 3rem;
    }
}

@media screen and (max-width: 1440px){
    header {
        justify-content: space-between;
        width: auto;
        height: 7rem;
        padding: 1rem 0rem ;
        display: flex;
        align-items: center;
    }
    .logo_ozart{
        width: auto;
        height: 7rem;
        padding: 3rem;
    }
    .lupa{
        width: auto;
        height: 8rem;
        padding: 4rem;    
    }
    .menú{
        width: auto;
        height: 5rem;
        padding: 3rem;
    }
}

@media screen and (max-width:1152px) {
    header {
        justify-content: space-between;
        width: auto;
        height: 8rem;
        padding: 0.5rem 2rem;
        display: flex;
    }
}

@media screen and (max-width:768px){
    header {
        justify-content: space-between;
        width: auto;
        height: 8rem;
        padding: 1rem 0rem ;
        display: flex;
        align-items: center;
    }
    .logo_ozart{
        width: 85px;
        height: 4rem;
        padding: 0px;   
     }
     .lupa{
         height: 5rem; 
     }
     .menú{
         height: 4rem;
         padding: 0px;
     }  
}

@media screen and (max-width:320px){
    header {
        width: auto;
        height: 5rem;
        padding: 1rem 0rem ;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .logo_ozart{
       width: 85px;
       height: 4rem;
       padding: 0px;   
    }
    .lupa{
        height: 5rem; 
    }
    .menú{
        height: 4rem;
        padding: 0px;
    }  
}